<br>
<br>
<div class="card">
    <div class="card-header font-weight-bold ch-1" style="font-size: 24px">
     Calender
    </div>
    <div class="card-body">
            <ejs-schedule width="1050" [eventSettings]="eventObject" [currentView]="setView"></ejs-schedule>
            <br>
            <div class='inline box red ' > Medications </div>
            <div class='inline box blue' > Dr Appointments</div>
        </div>
    <div class = "card-footer"></div>
</div>
<br>
<br>

<!-- <ejs-schedule width="1100" [eventSettings]="eventObject" [currentView]="setView"></ejs-schedule> -->
